/* .teaser-container {
  /* background-color: #F4F4F6; */
/* } */

.teaser {
    /* background-color: #f4f4f6;
    color: #4c4c4c; */
}

.teaser > div {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.teaser img {
    width: 100%;
    object-fit: fill;
}

.teaser-wrapper picture,
.teaser-wrapper img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.teaser > div > div {
    order: 1;
}

.teaser > div > .teaser-img-col {
    order: 0;
}

.teaser > div > .teaser-img-col img {
    display: block;
}

.no-image-right {
    text-align: right;
}

.no-image-right .teaser > div {
    /* display: flex;
    flex-direction: unset;
    gap: 24px; */
}

.no-image-left .teaser > div {
    text-align: left;
    padding: 64px 80px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.teaser > div > div:nth-of-type(2) {
    padding: 32px 24px;
}

@media (width >=900px) {
    .teaser > div {
        display: flex;
        flex-direction: unset;
        /* gap: 24px; */
    }

    .teaser > div > div {
        flex: 1;
        order: unset;
        background-color: #f4f4f6;
        color: #4c4c4c;
    }

    .teaser > div > div:nth-of-type(2) {
        padding: 48px;
    }

    .teaser > div > div h2 {
        color: #001965;
        padding-bottom: 24px;
        margin-block-end: 0px;
        margin-block-start: 0px;
        margin-bottom: 0px;
    }
    .teaser > div > div p {
        margin-block-end: 0px;
        margin-block-start: 0px;
    }

    .teaser > div > div p:last-child {
        font-size: 16px;
    }

    .teaser .button-container a {
        margin: 48px 0px;
        border-radius: 48px;
        padding: 16px 24px;
        background-color: #005ad2;
    }

    /* a.button:any-link,
    button {
        margin: 48px 0px;
        border-radius: 48px;
        padding: 16px 24px;
        background-color: #005AD2;
    } */

    .left .teaser-wrapper .teaser > div {
        display: flex;
        flex-direction: unset;
        background-color: #f4f4f6;
        /* gap: 24px; */
        /* padding: 30px 40px; */
    }

    .right .teaser-wrapper .teaser > div {
        display: flex;
        flex-direction: row-reverse;
    }

    .right {
        text-align: left;
    }
    .center .teaser-wrapper .teaser > div {
        display: block;
    }

    .center {
        text-align: center;
    }

    .center .teaser-wrapper img {
        width: 100%;
        min-height: 300px;
        height: 0;
    }
    .no-image-left .teaser {
        background-color: #f4f4f6;
        color: #4c4c4c;
    }

    .no-image-left .teaser > div {
        text-align: left;
        padding: 64px;
    }

    .no-image-left .teaser .button-container a {
        margin: 32px 0px;
        border-radius: 48px;
        padding: 16px 24px;
        background-color: #005ad2;
    }

    .no-image-right .teaser {
        background-color: #f4f4f6;
        color: #4c4c4c;
    }

    .no-image-right .teaser > div {
        text-align: right;
        padding: 64px;
    }

    .no-image-right .teaser .button-container a {
        margin: 32px 0px;
        border-radius: 48px;
        padding: 16px 24px;
        background-color: #005ad2;
    }
    .no-image-center .teaser {
        background-color: #f4f4f6;
        color: #4c4c4c;
    }
    .no-image-center .teaser > div {
        text-align: center;
        padding: 64px;
    }

    .no-image-center .teaser .button-container a {
        margin: 32px 0px;
        border-radius: 48px;
        padding: 16px 24px;
        background-color: #005ad2;
    }

    .twocol .teaser-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .twocol .teaser-wrapper .teaser > div {
        gap: 24px;
        display: block;
    }

    .twocol .teaser-wrapper .teaser {
        display: flex;
        gap: 24px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .fourcol .teaser-wrapper .teaser {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}
