/* stylelint-disable max-line-length */
@font-face {
  font-family: noto-sans-hebrew;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/NotoSansHebrew-Bold.woff2') format('woff2');  
}

@font-face {
  font-family: noto-sans-hebrew;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/NotoSansHebrew-Regular.woff2') format('woff2'); 
}

@font-face {
  font-family: noto-sans-hebrew;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/NotoSansHebrew-ExtraBold.woff2') format('woff2');
}